@import "mixins";
@import "variables";

.contact {
  &__logo {
    @include breakpoint-down(small) {
      padding-left: 4px;
      padding-right: 4px;
    }
  }

  &__link-mobile-view {
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: $font-lg;

    @include breakpoint-up(large) {
      display: none;
    }
  }

  &__link-desktop-view {
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: $font-lg;
    margin-top: 1.4rem;

    @include breakpoint-down(medium) {
      display: none;
    }
  }

  &__nav-heading-body-container {
    padding: 8% 10%;

    @include breakpoint-up(medium) {
      //   background-color: blue;
    }

    @include breakpoint-up(xlarge) {
      //   background-color: red;
      padding-top: 42.5px;
      padding-left: 129px;
      padding-right: 6%;
    }
  }

  &__nav {
    padding-bottom: 8%;
    @include breakpoint-down(small) {
    }
  }

  &__body {
    @include breakpoint-up(xlarge) {
      margin-top: 7rem;
    }
  }

  &__heading-input-container {
    background-color: $white;
    height: 100vh;
    color: black;
    padding: 5% 10%;

    @include breakpoint-down(small) {
      height: calc(100vh + 70px);
    }

    @include breakpoint-up(medium) {
      padding: 5% 25%;
    }

    @include breakpoint-up(xlarge) {
      padding-top: 42.5px;
      padding-left: 100px;
      padding-right: 6.5rem;
    }
  }

  &__heading-two {
    padding: 1rem 0.8rem;

    @include breakpoint-up(xlarge) {
      margin-top: 5.5rem;
    }
  }

  &__input-container {
    @include breakpoint-up(xlarge) {
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
  }
}
