@import "mixins";
@import "variables";

.contact {
  // inner container
  padding: 1rem 2rem;

  &__link-mobile-view {
    @include breakpoint-up(medium) {
      display: none;
    }
  }

  &__link-desktop-view {
    @include breakpoint-down(small) {
      display: none;
    }
  }

  &__container {
    // height: calc(100vh - 50px);
    // background: linear-gradient(
    //   to bottom,
    //   $dark-gray 0%,
    //   $dark-gray 50%,
    //   $white 50%,
    //   $white 100%
    // );
  }

  @include breakpoint-up(xlarge) {
    // height: calc(100vh - 50px);
    // background: linear-gradient(
    //   to right,
    //   $dark-gray 0%,
    //   $dark-gray 50%,
    //   $white 50%,
    //   $white 100%
    // );
  }

  &__message {
    margin-top: 5rem;
    padding: 1rem 2rem;
  }
}
