/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

html {
  font-size: 100%;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: $dark-gray;
  font-family: "Poppins", sans-serif;
  font-size: $font-sm;
  font-weight: 500;
  color: $white;
  line-height: 1.79;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: $gold;
}

.container {
  max-width: 80.375rem; //will keep it center if size increases
  margin: 0 auto;

  &--pall {
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
  }
}

.form-control {
  background-color: $light-gray;
  border-radius: 0%;
  margin: 0.5rem 0;
  border: none;
  padding: 0.9rem 1.7rem;
}

.is-invalid.form-control {
  border: 2px $red solid !important;
  background-image: url("https://res.cloudinary.com/dgiw6qnle/image/upload/v1649362921/Untitled_j7yszv.svg") !important;
  background-size: calc(7.75em + 4.375rem) calc(1.75em + 2.375rem) !important;
  background-position-x: right calc(-1.625em + 0.188rem) !important;
  background-position-y: 0em !important;
}
