@import "_variables";
@import "mixins";

.home-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 26px 16px;

  @include breakpoint-up(xlarge) {
    padding: 35px 32px;
  }

  &__link {
    justify-self: end;
    align-self: center;
    font-size: $font-lg;
  }
}

.home-cards {
  @include breakpoint-up(medium) {
    // inner container
    padding: 0 5rem;
  }

  @include breakpoint-up(large) {
    // inner container
    padding: 0 10rem;
  }

  @include breakpoint-up(xlarge) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    // inner container
    padding: 2rem;
  }
}

.home-challenge {
  margin: 1.5rem;

  @include breakpoint-up(medium) {
    margin: 2rem 5rem;
  }
  @include breakpoint-up(large) {
    margin: 2rem 10rem;
  }
  @include breakpoint-up(xlarge) {
    margin: 2rem;
  }
}
