/*
    home.scss: This file contains selectors only used in home.scss

    All pages share the styles on index.scss but you should create 
    one more scss for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/
@import "_variables";
@import "mixins";

.home-cards {
  @include breakpoint-up(medium) {
    padding: 0 5rem;
  }

  @include breakpoint-up(large) {
    padding: 0 10rem;
  }

  @include breakpoint-up(xlarge) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding: 2rem;
  }
}
