//Colors
$dark-gray: #222222; // background
$gold: #debf79; // text
$mid-gray: #858585; // text
$light-gray: #f5f5f5; // imputs
$red: #800000;
$white: #ffffff;
//fonts size
$font-xlg: 2.25rem; // 36px
$font-lg: 1.125rem; // 36px
$font-md: 1rem; //16px
$font-sm: 0.875rem; // 14px default
